<div class="container w-100 p-5 mt-5 mb-5">
    <h2>Contact</h2>
    <p class="text-seconday">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci placeat harum ab,
        dolorem blanditiis qui a
        animi laudantium, quisquam libero maiores nostrum nemo pariatur sunt, amet doloremque doloribus veniam quas?</p>

        <!-- FORMULARIO -->

        <div class="custom-container">
            <div class="mb-3 d-flex justify-content-center text-center">
                <label for="staticEmail" class="col-sm-3 col-form-label fw-bolder">Your E-mail</label>
                <div class="col-sm-9">
                    <input type="text" id="staticEmail" class="form-control border border-secondary-emphasis fw-semibold text-secondary-emphasis" placeholder="Your email...">
                </div>
            </div>
        
            <div class="mb-3 d-flex justify-content-center text-center">
                <label for="inputPassword" class="col-sm-3 col-form-label fw-bolder">Your message</label>
                <div class="col-sm-9">
                    <textarea class="form-control fw-semibold text-secondary-emphasis" id="inputPassword" rows="4" placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
        
            <div class="text-end my-2 mb-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <!-- FIN FORMULARIO -->
        </div>
        