<div class="bg-white container border-bottom-0 border-start-0 border-end-0 card">
  <div class="card border-0 w-100 p-5">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
              <div class="d-flex">
                <h5>My First Heading </h5>
                <h5 class="text-secondary mx-1">Will Catch Your Eye</h5>
              </div>
                <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestium id ligula porta felis euisomd semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fisce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
        <div class="col-md-4 float-end" style="width: 340px;">
          <img src="./assets/img/1.jpg" class="img-fluid rounded-circle mt-1" alt="">
        </div>
    </div>
  </div>
</div>