
<div class="container w-100 p-5">
  <h2>Portfolio</h2>
  <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam cupiditate veniam distinctio, error aut libero tempora blanditiis voluptatem ex necessitatibus! Voluptates, temporibus distinctio? Nobis, rerum odio exercitationem sapiente accusamus repellendus?</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-sm-4">
      <div class="card border-0">
          <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-primary">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, illo mollitia minima suscipit maiores dignissimos deserunt error corrupti.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-0">
          <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-primary">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, illo mollitia minima suscipit maiores dignissimos deserunt error corrupti.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card border-0">
            <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, illo mollitia minima suscipit maiores dignissimos deserunt error corrupti.</p>
            </div>
          </div>
        </div>
      </div>
    </div>